<a href="https://colab.research.google.com/github/Marcos-Almanzar/PythonProject1/blob/master/07_20_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np
df = pd.read_csv("https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv")
df.head()

  School DBN  ... Percent Scoring CR
0     01M034  ...                 na
1     01M034  ...                 na
2     01M034  ...                 na
3     01M140  ...                 na
4     01M140  ...                 na

[5 rows x 15 columns]